@font-face {
    font-family: pixe-boy;
    src: url(../src/fonts/Pixeboy-z8XGD.ttf);
}

html {
    display: flex;
    flex-direction: column;
}

html, body {
    font-family: pixe-boy;
    font-size: 24px;
    margin: auto;
    width: 100%;
}

body {
    color: #fff;
    background: rgb(22, 22, 22);
}

button {
    font-family: pixe-boy;
    position: relative;
    border: none;
    font-size: 18px;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    outline: none;
    border-radius: 3px;
    margin: 0 10px;
    padding: 23px 33px;
    border: 3px solid transparent;
    border-radius: 2px;
}

.left-side {
    position: sticky;
    top: 70px;
    bottom: 0;
    width: 49.8vw;
    height: 100vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    left: 49.8%;
    width: 0.4vw;
    background-color: rgb(255, 145, 0);
}

.right-side {
    top: 70px;
    width: 49.8vw;
    right: 0;
}

a, a.visited {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.center {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px 15px 15px 15px;
}

.left-side {
    background-image: url('../src/images/jungle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.game-screen {
    margin-top: 70px;
    height: fit-content;
    min-height: 92.5vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-grow: 1;
}

.resource-items {
    margin-top: 0px;
    flex-flow: column wrap;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.resource-items>li {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgb(255, 145, 0);
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgb(47, 44, 42) 41%, rgb(65, 57, 45) 100%);
    list-style: none;
    width: 100%;
    min-width: auto;
    height: 100%;
}

.info {
    margin: auto;
    padding: 10px 0 0 10px;
}

.parrot-name {
    width: 12vw;
    font-size: 2vw;
    padding: 15px 0 0 15px;
    text-align: center;
    margin: auto;
}

.buy-btns {
    text-align: center;
    height: 100px;
    font-size: 28px;
    width: 35%;
    display: block;

    background-color: rgba(71, 71, 71, 0.4);
    color: gray;
}

.buy-btns {
  transition: box-shadow 300ms ease-out, color 300ms ease-in-out, border 300ms ease-in-out;
}

.buy-btns:hover {
    box-shadow: 0 0 90px 90px rgba(255, 208, 0, 0.9) inset;
    border: 1px solid rgb(190, 91, 10);
    color: rgb(85, 31, 0);
}

.buy-btns:active {
    transform: scale(0.98);
}

.parrot-imgs {
    right: 0;
    max-width: 150px;
    pointer-events: none;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
}

#seed-btn {
    border: 2px #3498db;
    background-color: transparent;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    font-size: 32px;
}

#seed-btn:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

#seed-btn:active {
    transform: scale(0.98);
}

#seed-counter {
    padding: 25px;
    font-size: 48px;
}

.disabled {
    pointer-events: none;
}

.disabled>img {
    filter: brightness(0%);
}

.no-seed>button {
    background-color: transparent;
    pointer-events: none;
}

.hidden {
    display: none !important;
}

.popup {
    width: 160px;
    position: absolute;
    bottom: 40%;
    display: flex;
    cursor: pointer;
}
  
.popup .save-popup {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
  
.popup .save-popup::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
  
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@media screen and (max-width: 1020px) {
    .resource-items {
        align-content: flex-start;
        overflow: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .resource-items>li {
        padding: 0;
        flex-direction: column;
        align-items: center;
        border-right: 2px solid rgb(255, 145, 0);
        max-width: 200px;
        justify-content: space-around;
    }

    .buy-btns {
        font-size: 24px;
        width: 75%;
        height: 15%;
        padding: 0;
    }

    .info {
        margin: 10px 0 10px 0;
        padding: 0;
    }

    .parrot-name {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin: 10px 0 10px 0;
        padding: 5px 0 0 0;
    }

    .parrot-imgs {
        height: auto;
        width: auto;
    }
}